extends layout
block layout-content

 div.jumbotron.container
  h1 Web Development Fundamentals!
  p.text-secondary Fundamentals damn i hate that word.
  p 
   a.btn.btn-dark(role="button") Get Started