extends layout
block layout-content
 head
  title node
  link(rel = "stylesheet" href ="style.css")
 body
  form.logForm(method = "post" action = "/check")
   h1.tit Login 
   p#err #{err}
   label Username
   input.form-control(type ="text" name = "username" value = u required)
   label Password
   input.form-control(type ="password" value = p name = "password" required)
   input.mb-2.btn.btn-primary.login(type = "submit" value = "Login")
   i
    label.text-center.text-muted you dont have an account 
     a.form(href="/register") Register Now